@tailwind base;
@tailwind components;
@tailwind utilities;

.rotaion-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes rotaionglobe {
 
  to {
    
    transform: rotate3d(0,3,0,360deg)
  }
  
}
.rotaion-center {
  animation: rotaionglobe 2s linear infinite;
  
}

.material-symbols-outlined {
  
  font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' 0,
  'opsz' 48

}
#light{

  color: white;
}
.material-symbols-outlined.icon_setting{
  font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' 0,
  'opsz' 50
}
.test{
  background-origin: calc(100% - 30%) calc(100% - 100px);
  transform-origin: top left;
  transition: all 0.5s ease;

}
@keyframes identifier {
  0% {
    
    background-color:transparent;
    
  }
100% {
    width: 100%;
    background-color: rgb(24, 23, 27);
   
  }
}
  
.test:hover{
  animation: identifier 2s linear infinite;
 
}

 
  