@tailwind base;
@tailwind components;
@tailwind utilities;

.rotaion-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
    
  }
 
}
body {
  overscroll-behavior: none;
}
.widthcal{
  width: calc(100% - 80px);
  
}
@keyframes rotaionglobe {
 
  to {
    
    transform: rotate3d(0,3,0,360deg)
  }
  
}
.rotaion-center {
  animation: rotaionglobe 2s linear infinite;
  
}

.material-symbols-outlined {
  
  font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' 0,
  'opsz' 48

}
#light{

  color: white;
}
.material-symbols-outlined.icon_setting{
  font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' 0,
  'opsz' 50
}
.test{
  background-origin: calc(100% - 30%) calc(100% - 100px);
  transform-origin: top left;
  transition: all 0.5s ease;

}
@keyframes identifier {
  0% {
    
    background-color:transparent;
    
  }
100% {
    width: 100%;
    background-color: rgb(24, 23, 27);
   
  }
}
  
.test:hover{
  animation: identifier 2s linear infinite;
 
}
.left_slider_content{
  display:none;
}
#logo_dash_l{
  display:none;
}

.alphabet {
 
  box-sizing: border-box;
  border: 1px solid;
  border-bottom: 0;
  border-top: 0;
  width: calc(100% + 10px);
  overflow-y: auto;
  padding-right: 10px;
}
.scrollbar::-webkit-scrollbar {
  width: 0;
  
}
.chat-bubble {
  background-color:#E6F8F1;
  padding:16px 28px;
  -webkit-border-radius: 20px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius: 20px;
  -moz-border-radius-bottomleft: 2px;
  border-radius: 20px;
  border-bottom-left-radius: 2px;
  display:inline-block;
}
.typing {
  align-items: center;
  display: flex;
  height: 17px;
}
.typing .dot {
  animation: mercuryTypingAnimation 1.8s infinite ease-in-out;
  background-color: var(--vert); /*rgba(20,105,69,.7)*/;
  border-radius: 50%;
  height: 7px;
  margin-right: 4px;
  vertical-align: middle;
  width: 7px;
  display: inline-block;
}
.typing .dot:nth-child(1) {
  animation-delay: 200ms;
}
.typing .dot:nth-child(2) {
  animation-delay: 300ms;
}
.typing .dot:nth-child(3) {
  animation-delay: 400ms;
}
.typing .dot:last-child {
  margin-right: 0;
}

@keyframes mercuryTypingAnimation {
  0% {
    /* // rgba(20,105,69,.7); */
    transform: translateY(0px);
    background-color:#6CAD96; 
  }
  28% {
    transform: translateY(-7px);
    background-color:#9ECAB9; /*rgba(20,105,69,.4)*/;
  }
  44% {
    transform: translateY(0px);
    background-color: #B5D9CB; /*rgba(20,105,69,.2)*/;
  }
}
.messages {
  height: 88.33%;
  
  
}
.messages::-webkit-scrollbar-track{
  background-color: #6CAD96;
}
.messages::-webkit-scrollbar-thumb{
  background-color: #9f9eca;
}
.messages::-webkit-scrollbar-thumb:hover{
  background-color: #9ECAB9;
}

:root{
  --rouge: #FF0000;
  --vert: #00FF00;
  --bleu: #0000FF;
}
.chat_text{
  font-family: 'Tangerine', serif;
  font-size: 30px;
  text-shadow: 4px 4px 4px #aaa;
}